.button-home {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -90px;
    width: 200px;
    height: 100px;
}
button {
    border: none;
    background-color: rgb(166, 166, 160, 0.6);
    font-family: Garamond;
    padding: 10px 3px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    border-radius: 6px;
    color: white;
}

.text {
    position: absolute;
    top: 70%;
    text-align: justify;
    left: 45%;
    margin-left: -270px;
    height: 100px;
    width: 700px;
    font-size: 20px;
    color: white;
    font-family: Garamond;
}
